[Unit]
Description=auto set fan speed
Requires=hddtemp.service modprobe@nct6775.service
After=hddtemp.service modprobe@nct6775.service
CollectMode=inactive-or-failed
Conflicts=fancontrol.service
RefuseManualStart=yes

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/libexec/fanspeed/bin/fansd --full
Environment=VIRTUAL_ENV=/usr/local/libexec/fanspeed
Environment=PATH=/usr/local/libexec/fanspeed/bin:/usr/bin
Environment=PYTHONUNBUFFERED=1
ProtectSystem=strict
ProtectHome=read-only
ConfigurationDirectory=fanspeed
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
