[Unit]
Description=set high speed fan
Before=hddtemp.service
Requires=modprobe@nct6775.service
After=modprobe@nct6775.service

[Install]
WantedBy=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash ${ROOT}/scripts/init.sh
